<header class="container">
    <h1 class="text-container-header" id="title">{{userData.email}}'s blogs</h1>
</header>
<br>
<div class="blog-list">
    {{> user-blog}}
</div>
<div class="create-blog">
    <a href="/dashboard/blog">
        <button type="button" class="btn btn-primary submit-btn" id="">Create new blog!</button>
    </a>
</div>

<script src="/js/dashboard.js"></script>